.App {
  margin: 0 10vw;
}

th tr {
  width: 30%;
}

.btn-container {
  display: flex;
}

.btn-container button {
  margin: 1vw;
  padding: 1vw;
  background: green;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
